---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import UpcomingEvents from '../components/UpcomingEvents.astro';
import ChapterHighlight from '../components/ChapterHighlight.astro';
import NewsGallery from '../components/NewsGallery.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="IEEE Student Branch - Universidad de los Andes">
  <Navigation />
  <main>
    <Hero />
    <UpcomingEvents />
    <ChapterHighlight />
    <NewsGallery />
  </main>
  <Footer />
</Layout>